{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5 fw-bold">About</h3>
        <p>welcome to ours website,we post motivation quotes and some thoughts also to help people to overcome the aniexity and depression types of things ours duty is to keeps people motivated and helps them to accheive theirs goals in life </p>
        <p>From ours motivation thoughts various people got motivated and now they are in good and high state of thinkings we are always ready for helps </p>
        <p>Any times any ones can contact us we are always ready for help</p>
    </div>
{% endblock content %}
    